.DS_Store
images/.SD_Store
.vscode/
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.gl*
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.lox
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.toc
*.vrb
main.fls
main.*.nav
main.*.vrb
main.fdb_latexmk
*.synctex.gz
